{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>My Final Project </h1>
    <p class="lead heb">הספורטאים הטובים ביותר בעולם בעבר והיום</p>
</div>

<div class="row">
    <div class="col-md-5">
        <img class="contain" src=/static/imgs/sport.jpg />
    </div>
    <div class="col-md-5">
        <h2 class="heb">מהו נושא העבודה?</h2>
        <p class="heb">העבודה שלי עוסקת בספורט. ספורט הוא ענף בידור ופנאי הכולל פעילות גופנית שבה מאמנים או משפרים מיומנויות או כישורים גופניים, ושמטרתה השתתפות בתחרות בבידור עצמי או בהנאה ודרכים אחרות</p>
        <p class="heb">בעבודה שלי אני אציג את הספורטאים הטובים ביותר </p>
    </div>

</div>

{% endblock %}
